<fieldset>
    <legend>Tag</legend>
    <div class="tag_button">
        <input type="radio" id="all_button" name="tag" checked="checked">
        <label for="all_button">All</label>
    </div>
    <div class="tag_button">
        <input type="radio" id="test1_button" name="tag">
        <label for="test1_button">Test 1</label>
    </div>
    <div class="tag_button">
        <input type="radio" id="test2_button" name="tag">
        <label for="test2_button">Test 2</label>
    </div>
</fieldset>


{% assign rows = include.box[0]['tags'].size | minus: 1 %}
{% for i in (0..rows) %}
<div class="block {{ include.box[0]['tags'][i] }}" style="background-image: url({{ include.box[1]['images'][i] }});">
    <div class="inner-block">
        <div class="block-head">{{ include.box[2]['titles'][i] }}</div>
        <hr class="divider">
        <div class="block-content">
            <div class="inside_tag_button">{{ include.box[0]['tags'][i] | replace: ' ', '</div>
            <div class="inside_tag_button">'}}</div>
        </div>
    </div>
</div>
{% endfor %}
</div>